$green-color: #50c878;
$magenta: #f0f;

a {
    color: $green-color;
}

label {
    margin: 0 0.5em;
    font-weight: bold;
    color: $magenta;
}

code {
    background-color: #eee;
    padding: 2px 4px;
    border-radius: 4px;
    color: #304455;
}
